html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  // background-color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir,
    Helvetica, sans-serif;
}

#vision2020 {
  padding: 30px;
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 30px 80px;
  }
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3em;
}

.pioneers-list {
  padding: 0;

  > li {
    text-align: center;
    position: relative;
    margin-top: 10px !important;

    &::before {
      content: '';
      border-top: 1px solid black;
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      top: 50%;
    }

    > span {
      background-color: white;
      padding: 0 0.25em;
      display: inline-block;
      white-space: nowrap;
      // Position text above line
      position: relative;
      z-index: 1;
    }
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    > ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 50px;
      max-width: 700px;
      margin: 0 auto;
    }

    > ul > li {
      display: inline-block;
    }
  }

  > ul > li {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    display: flex;
    min-height: 100px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;

    a,
    a:visited,
    a:active,
    a:hover {
      text-decoration: none;
      color: black;
    }
  }
}

